<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content-container">
        <form action="/" method="post" enctype="multipart/form-data">
          <h2>Select your image:</h2>
          <input type="file" accept="image/*" class="form-control-file"
                 id="formControlFile1" name="input-image">
          <input class="btn btn-outline-primary" type="submit" value="Submit">
        </form>
      </div>
      


    <div class="container-fluid">
      <h1>Model Prediction</h1>
      <!-- <p>Resize the browser window to see the effect.</p>
      <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p> -->
      <div class="row">
        <div class="col-sm-4">
            {{result}}
        </div>
        <div class="col-sm-4" ></div>
        <div class="col-sm-4" ></div>
      </div>
    </div>
</body>
</html>